@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 22rem;
    min-width: 16rem;
    margin: 2rem;
    border-radius: 15px;
    padding: .5rem;
    box-shadow: 0 12px 12px hsl(212, 45%, 80%);
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-image {
    max-width: 90%;
    min-width: 1em;
    padding: 1rem 0;
    border-radius: 15px;
}

.text-container {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.card-text-title {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.375rem;
}

.card-text-description {
    font-size: 0.9375rem;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    padding: 1rem;
}

.attribution {
    text-align: center;
    text-wrap: balance;
}